body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111315;
  background-image: url("./assets/images/bg-cafe.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
